@font-face {
  font-family: "SegoeUI";
  src: local("SegoeUI"),
  url("../fonts/SegoeUI.woff2") format("woff2"),
  url("../fonts/SegoeUI.woff") format("woff");
  font-weight: 400;
  fonts-display: swap;
}

@font-face {
  font-family: "SegoeUI";
  src: local("SegoeUI-SemiBold"),
  url("../fonts/SegoeUI-SemiBold.woff2") format("woff2"),
  url("../fonts/SegoeUI-SemiBold.woff") format("woff");
  font-weight: 600;
  fonts-display: swap;
}
