// Grid - padding
$indent: 15px;

// Grid - breakpoints
$tablet: 768px;
$add-tablet: 640px;
$desktop: 996px;
$max-desktop: 1200px;
$desktop-add: 966px;

// Fonts
$font: "SegoeUI", sans-serif;

//Colors
$main: #707070;
$add: #aaaaaa;
$white: #ffffff;
$black: #000000;
$green: #74b908;
$add-green: #74b908;
$footer: #2b2b2b;
$section: #f3f3f3;
$add-border: #dedede;
$table: #f8f8f8;
$link-arrow: #dfdfdf;
$transparent: transparent;

//Other
$mobile-nav-height: 65px;
$desktop-nav-height: 98px;
$tablet-container: 900px;
$article-li-marker: 40px;