.article-page {
  padding-top: 18px;
  padding-bottom: 23px;

  &__container {
    @include container();
  }

  &__back {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    margin-bottom: 20px;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 1px solid $add-border;
    background: $white;
    font-size: 0;
  }

  &__back::before {
    @include pseudo();
    width: 16px;
    height: 16px;
    left: 15px;
    top: 16px;
    border: 2px solid $main;
    border-right: 2px solid $transparent;
    border-top: 2px solid $transparent;
    transform: rotate(45deg);
  }

  &__back::after {
    @include pseudo();
    width: 24px;
    height: 2px;
    top: 23px;
    left: 13px;
    background: $main;
  }

  &__title {
    @include field-reset();
    position: relative;
    padding-top: 9px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    font-family: $font;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.36;
    color: $main;
  }

  &__gap {
    @include field-reset();
    height: 1px;
    background-color: $add-border;
    border: none;
    margin-bottom: 32px;

    @media (min-width: $desktop) {
      margin-bottom: 47px;
    }
  }

  &__img {
    margin-bottom: 30px;
    text-align: center;

    img {
      width: 100%;
    }
  }

  &__text {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $add;

    p {
      @include field-reset();
      margin-bottom: 30px;
    }

    ul, ol {
      @include order-reset();
      padding-left: $article-li-marker;
    }

    li {
      position: relative;
      margin-bottom: 20px;
    }

    li::before {
      @include pseudo();
      top: 5px;
      left: -$article-li-marker;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $green;
    }

    li::after {
      @include pseudo();
      top: 11px;
      left: -36px;
      width: 10px;
      height: 5px;
      border: 2px solid $white;
      border-right: none;
      border-top: none;
      transform: rotate(-53deg);
    }
  }
}