.articles {
  padding-bottom: 45px;

  @media (min-width: $desktop) {
    padding-bottom: 40px;
  }

  &__container {
    @include container();
    padding-top: 50px;

    @media (min-width: $desktop) {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-top: 83px;
    }
  }

  &__title {
    @include field-reset();
    position: relative;
    margin-bottom: 21px;

    font-family: $font;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.32;
    text-align: center;
    color: $main;
  }

  &__gap {
    @include field-reset();
    margin-right: -15px;
    margin-left: -15px;
    height: 1px;
    background-color: $add-border;
    border: none;

    @media (min-width: $desktop) {
      width: 100%;
      margin-top: 12px;
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__list {
    @include order-reset();
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
    padding-top: 27px;
    max-width: $tablet-container;
    margin: 0 auto;

    @media (min-width: $desktop) {
     max-width: $desktop-add;
     padding-top: 46px;
   }
 }
}

/* ----------ARTICLES PAGE */
.articles__container--main-page {
  padding-top: 30px;
}