.btn {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.31;
  text-align: center;
  color: $green;

  background: $transparent;
  border: solid 1px $green;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease color, 0.3s ease background-color;

  &--green {
    background: $green;
    color: $white;
    border: none;

    @media (min-width: $desktop) {
      width: 219px;
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }

  &--slider {
    margin: 0 auto;
    width: 47%;
    max-width: 400px;

    @media (min-width: $desktop) {
      max-width: 139px;
      margin: 0 auto 0 0;
    }
  }

  &--small {
    margin: 0 auto 31px auto;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 31%;
    min-width: 110px;
    max-width: 400px;
    font-size: 14px;
    line-height: 1.36;

    &:hover {
      color: $white;
      background-color: $green;
    }

    @media (min-width: $add-tablet) {
      width: 106px;
      margin: 3px 0 0 auto;
    }
  }

  &--small-index {

    @media (min-width: $add-tablet) {
      margin: 0 auto 31px auto;
    }

    @media (min-width: $desktop) {
      width: 106px;
      margin: 3px 0 0 auto;
    }
  }

  &--collection {
    margin-bottom: 20px;

    @media (min-width: $add-tablet) {
      margin-top: -($collection-title-mb + $collection-title-lh + $collection-title-fs);
    }
  }

  &--product {
    margin: 0 auto;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 84%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.36;

    @media (min-width: $desktop) {
      max-width: 140px;
    }
  }

  &--article {
    width: 100%;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
  }

  &--about {
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
    outline: none;

    &:hover {
      color: $white;
      background-color: $green;
    }

    @media (min-width: $add-tablet) {
      margin: 0 auto 0 0;
      width: 139px;
    }
  }

  &--about-close {
    color: $transparent;
  }

  &--about-close::before {
    position: absolute;
    content: "Скрыть";
    display: block;
    background-color: $transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $green;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
  }

  &--about-close:hover::before {
    color: $white;
  }

  &--about-close:hover {
    color: $transparent;
  }

  &--footer {
    max-width: 350px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: $white;
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  &--hide {
    display: none;
  }

  &--goods {
    width: 100%;
    margin-bottom: 18px;
    display: inline-block;
    vertical-align: top;

    @media (min-width: $add-tablet) {
      margin-bottom: 0;
      width: 48%;
    }

    @media (min-width: $desktop) {
      margin-bottom: 0;
      width: auto;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &--goods:last-child {

    @media (min-width: $add-tablet) {
      margin-left: 3%;
    }

    @media (min-width: $desktop) {
      margin-left: 28px;
    }
  }

  &--g-green {
    background: $green;
    color: $white;
  }
}