.carousel {
  padding-top: 32px;

  &__title {
    display: block;
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    text-align: center;
    color: $main;
  }

  &__container {
    padding-top: 20px;
    padding-bottom: 13px;
  }

  &__list {
    @include order-reset();
  }

  &__arrow {
    left: 15px;
    z-index: 100;
    margin-top: -25px;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 1px solid $add-border;
    background: $white;
  }

  &__arrow::before {
    @include pseudo();
    width: 16px;
    height: 16px;
    left: 15px;
    top: 16px;
    border: 2px solid $main;
    border-right: 2px solid $transparent;
    border-top: 2px solid $transparent;
    transform: rotate(45deg);
  }

  &__arrow::after {
    @include pseudo();
    width: 24px;
    height: 2px;
    top: 23px;
    left: 13px;
    background: $main;
  }

  &__arrow--right {
    z-index: 100;
    right: 15px;
    left: auto;
  }

  &__arrow--right::before {
    transform: rotate(-135deg);
    left: auto;
    right: 15px;
  }

  &__arrow--right::after {
    left: auto;
    right: 13px;
  }
}