.footer-nav {

  &__container {

  }

  &__list {
    @include order-reset();
    margin-bottom: 24px;
    text-align: center;
  }

  &__item {
    display: inline-block;
    margin-right: 53px;
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $white;

    a {

    }
  }

  &__item:last-child {
    margin-right: 0;
  }
}