.footer-nav {

  &__container {

  }

  &__list {
    @include order-reset();
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 292px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  &__item {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $white;

    a {

    }
  }
}