.main {
  margin-top: $mobile-nav-height;

  @media (min-width: $desktop) {
    margin-top: $desktop-nav-height + 52px;
  }

  &--pagination {

    @media (min-width: $tablet) {
      padding-top: 30px;
    }
  }
}