.product {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  height: auto;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 33px;
    padding-bottom: 31px;
    background-color: $white;
    border: solid 1px $add-border;
    border-radius: 10px;
    transition: 0.3s ease transform, 0.3s ease box-shadow,  0.3s ease border;
  }

  &__container:hover {
    box-shadow: 0px 15px 15px -3px transparentize($black, 0.9);
    transform: translateY(-10px);
    border: solid 1px $green;

    .btn {
      color: $white;
      background-color: $green;
    }
  }

  &__title {
    @include field-reset();
    margin-bottom: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    color: $main;

    a:hover {
      border-bottom: 1px dotted $add;
    }
  }

  &__property {
    width: 27%;
    min-width: 94px;
    max-width: 130px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 7px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.31;
    color: $white;
    border-radius: 50px;
    background-color: $green;
  }

  &__img {
    margin-bottom: 38px;
    text-align: center;

    img {
      width: 138px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 33px;
    }
  }
}